/* src/index.css */
* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita barra de rolagem horizontal */
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #eef2f5;
}